.wrapper {
    text-align: center;
    border-color: purple;
    margin: auto;

}

.flex-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    width: 65%;
    height: 65%;
}
h1 {
    margin: auto;
    margin-bottom: 2%;
    width: 50%;
    background-color: skyblue;
    padding: 2%;
    border-radius: 5px;

}
#date {
    height: 3em;
    width: 33%;
    margin: auto;
    padding-top: 1.5%;
    background-color: palegoldenrod;
}
.container {
    margin-left: 3%;
}
.time-slot {
}
.cell {
    float: left;
    height: 3em;
    width: 75%;
    background-color: rgb(235, 232, 203);
    margin: auto;
    margin-top: 1%;
    padding-top: 1.5%;
    padding-left: 2%;
    text-align: left;
    border-radius: 5px;
}

.label {
    float: left;
    height: 3em;
    width: 4em;
    padding-top: 1.5%;
    background-color: paleturquoise;
    margin: auto;
    margin-top: 1%;
    margin-right: .5%;
    border-radius: 5px;
}

.edit-btn {
    float: left;
    height: 3em;
    width: 4em;
    margin: auto;
    margin-top: 1%;
    margin-left: .5%;
    border-radius: 5px;
}

.changeColor {
    background-color: gray;
}